<div class="col-md-6">
  <h3>Tracking Code Tutorial</h3>

  <p>Using Stats Hound is very simple. You'll put the code below into every page on your site that you want to track.
  Stats Hound will record every event and save it with the name in quotes in the last line.</p>

  <h3>Tracking Code</h3>

    <script src="https://gist.github.com/john-pickett/b8f64fe230c6a50ffe5ddf12bf003262.js"></script>

  <h3>Sample Events</h3>

  <p>statshound.report("pageview");</p>
  <p>statshound.report("new user");</p>
  <p>statshound.report("sale");</p>
  <p>statshound.report("message");</p>
</div>
