<table>
  <thead>
    <tr>
      <th>Website Name</th>
      <th>URL</th>
      <th>Tracking Since</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><em>Click To View Website Stats<?em></td>
      <td><em>Click To Visit Website</em></td>
      <td></td>
    </tr>
    <% @applications.each do |application| %>
      <tr>
        <td><%= link_to application.name, application %></td>
        <td><%= link_to application.url, application.url, target: :_blank %></td>
        <td><%= application.created_at.to_date.to_formatted_s(:long_ordinal) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
