<h3>Hi, and Welcome to Stats Hound! </h3>
<div class="col-md-6">
  <h4>It looks like you're a new user, and don't have any websites yet. Hit the green button above to create your first website, and then we'll walk you through how to install the tracking code.</h4>
</div>
