
<div id="banner" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="jumbotron">
        <h1 class="small">Welcome To <span class="bold">Stats Hound</span></h1>
        <p class="big">Track Website Visitors and Traffic</p>
        <a href="#" class="btn btn-banner">Sign Up For Free<i class="fa fa-send"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="cta-1">
  <div class="container">
    <div class="row text-center white">
      <h1 class="cta-title">How Many People Viewed Your Website Today?</h1>
      <p class="cta-sub-title">Find Out With Stats Hound - It's Free!</p>
    </div>
  </div>
</div>

<div id="service" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="page-title text-center">
        <h1>Stats Hound Features</h1>
        <h3>Just Put A Small Code Snippet On Your Website, and We'll Do The Rest</h3>
        <hr class="feature-bar"></hr>
      </div>
    </div>
      <div class= "row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-icon"><i class="fa fa-picture-o"></i></div>
            <div class="service-text">
              <h3>Visitors</h3>
              <p>Easily track every page view on your site</p>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-icon"><i class="fa fa fa-code"></i></div>
            <div class="service-text">
              <h3>New Users</h3>
              <p>We'll show you how many new users register every day</p>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-icon"><i class="fa fa-diamond"></i></div>
            <div class="service-text">
              <h3>Sales</h3>
              <p>You can even keep track of sales!</p>
              </div>
          </div>
        </div>
    </div>
    <div class="text-center">
      <%= link_to "Get Started", new_user_registration_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
